$img-dir: '../images/';
$branco: #fff;
$verde-aguado: #99d9b4;
$verde: #00a89d;
$verde-lima: #27ae60;
$verde-destaque: #039d93;
$roxo: #5f328a;
$roxo-destaque: #522b78;
$azul: #3399cc;
$azul-escuro: #34495e;
$cinza-claro: #f8f8f8;
$cinza: #f1f1f1;
$cinza-escuro: #e4e4e4;
$cinza-fonte: #818181;
$penumbra: #bdbdbd;
$penumbra-2: #a5a5a5;
$sombra: #888;
$wpadminbar-bgc: $roxo;
$wpadminbar-c: $branco;
$body-bgc: $cinza;
$adminmenu-bgc: $cinza;
$adminmenu-bgc-hover: $cinza-escuro;
$adminmenu-c: $cinza-fonte;
$adminmenu-c-hover: $roxo;
$adminmenu-current-bgc: $cinza-escuro;
$adminmenu-current-c: $roxo-destaque;
$adminmenu-icon-current-c: $verde;
$adminbar-current-c: $verde;
$adminbar-current-bgc: $roxo;
$adminbar-ab-icon: $branco;