.wp-mini-logo {
	display: block;
	height: 24px !important;
	width: 118px !important;
	background: transparent url(../images/wordpress-logo.png ) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}