body {
	&.wp-core-ui {
		&.login {
			.button-primary {
				display: block;
				float: none;
				clear: both;
				width: 100%;
				background-color: $verde;
				border: none;
				text-shadow: none;
				@include box-shadow(0, 0, 0, 0, transparent);
				@include bgc-hover($verde-destaque);
			}
		}
	}
}