.cf-mini-logo {
	display: block;
	margin-top: -5px !important;
	height: 42px !important;
	width: 191px !important;
	background: transparent url(../images/mini-logo-admin-bar.png ) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}