.dashicons {
	font-family: Fontawesome !important;
	font-size: 26px !important;
}
.dashicons-before {
	font-family: Fontawesome !important;
	font-size: 26px !important;
	line-height: 19px;
	&:before {
		font-family: Fontawesome !important;
		font-size: 26px !important;
		line-height: 19px;
	}
}
/* Woocommerce Fix */
#adminmenu li#menu-posts-product .menu-icon-post div.wp-menu-image::before,
#adminmenu li#menu-posts-product .menu-icon-product div.wp-menu-image::before {
		font-family: Fontawesome !important;
		font-size: 26px !important;
}

.dashicons-dashboard {
	&:before {
		content: '\f015';
	}
}

.dashicons-location {
	&:before {
		content: '\f155';
	}
}

.dashicons-location-alt {
	&:before {
		content: '\f005';
	}
}

.dashicons-vault {
	&:before {
		content: '\f15c' !important;
	}
}

.dashicons-shield {
	&:before {
		content: '\f110';
	}
}

.dashicons-shield-alt {
	&:before {
		content: '\f140';
	}
}

.dashicons-sos {
	&:before {
		content: '\f201';
	}
}

.dashicons-search {
	&:before {
		content: '\f1b2';
	}
}

.dashicons-slides {
	&:before {
		content: '\f0c0';
	}
}

.dashicons-admin-users {
	&:before {
		content: '\f007';
	}
}

.dashicons-analytics {
	&:before {
		content: '\f013';
	}
}