.fl-mini-logo {
	display: block;
	height: 26px !important;
	width: 121px !important;
	background: transparent url(../images/flatsome.png ) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}