.wc-mini-logo {
	display: block;
	height: 22px !important;
	width: 110px !important;
	background: transparent url(../images/woocommerce-logo.png ) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}